/* Ensuring swiper container takes up the full width and height */
.swiper-container {
    width: 100%;
    height: 100%;
    display: flex; /* Makes sure that the slides appear horizontally */
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* Optional: adjust padding or margins as necessary */
  }

 ion-icon.md{
  margin: 0;
 }

 .compleated-registration{
  text-align: center;
 } 
  